body {
    height: 550px;
    width: 750px;
    background-color: burlywood;
    text-align: center;
    overflow: hidden;
    color: rgb(94, 43, 19);
    font-family: 'Fira Sans', sans-serif;
    border-style: ridge;
    border-color: rgb(94, 43, 19);

}

#header {
    background-color: rgb(161, 139, 9);
    width: 680px;
    height: 50px;
    padding: 25px;
    margin: 10px;
    font-size: 2.5rem;
    border-style: ridge;
    border-color: rgb(94, 43, 19);
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

#counter, #cookieimage, #upgrade {
    margin: 10px;
}

#counter {
    height: 400px;
    width: 200px;
    background-color: rgb(161, 139, 9);
    display: flex;
    border-style: ridge;
    border-color: rgb(94, 43, 19);
}

#countertext {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cookieImage {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: ridge;
    border-color: rgb(94, 43, 19);
}

#upgrade {
    height: 400px;
    width: 200px;
    background-color: rgb(161, 139, 9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-style: ridge;
    border-color: rgb(94, 43, 19);

}

#autoClick, #tripleClick, #doubleScore {
    min-height: 50px;
    width: 150px;
    margin: 5px;
    font-family: 'Fira Sans', sans-serif;

}

button:active {
    background-color: rgb(159, 240, 159);
    color: white;
}
